# API configuration
API_KEY=
CITY=Finestrat
LATITUDE=
LONGITUDE=
RADIUS_KM=2
PAGE=1
LIMIT=50
FIELDS=full
SELECTED_FUELS=Diesel,Gasolina95
SELECTED_STATION_ID=
SELECTED_STATION_NAME=
STATION_IDS=12061,13032,3697
DB_PATH=/usr/src/prices.db

# The frontend will connect to the public API host via VITE_API_URL.
VITE_API_URL=http://your-api-host:2023
